body {
  width: 310px;
  padding: 35px;
  background-color: #e5e5e5;
  font-family: 'poppins', sans-serif;
  font-style: normal;
}

.nav-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 340px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 540px;
  margin-bottom: 100px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  padding-top: 50px;
}

.About-me {
  display: flex;
  flex-direction: column;
  background-image: url(./photo/bg/header-shapes-mobile.png);
  padding-top: 20px;
  padding-right: 120px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.About-me > .greeting {
  align-items: center;
  width: 200px;
  height: 20px;
  color: #172b4d;
  padding-left: 23px;
  padding-top: 1px;
  padding-bottom: 120px;
  padding-right: 20px;
}

.logo {
  padding-right: 24px;
  color: blue;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 3px;
  border-radius: 8px;
  height: 12px;
}

.menu {
  padding-top: 50%;
  padding-bottom: 50%;
  margin-top: 3px;
}

.logo:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
}

.link {
  display: flex;
  align-items: flex-start;
  color: #396df2;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  padding-left: 1px;
  width: fit-content;
  border: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  margin-left: 40px;
}

.link:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

.biography {
  padding-left: 23px;
  padding-right: 35px;
  width: 300px;
}

.icon {
  padding-right: 450px;
  cursor: pointer;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 12px;
}

.icon > img {
  width: 14px;
  padding: 7px;
  height: 15px;
}

.middle-section-container {
  display: grid;
  width: 350px;
  height: 650px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  margin-bottom: 100px;
  background-color: white;
}

h1 {
  font-size: xx-large;
}

h2 {
  color: #396df2;
  display: block;
}

.middle-section-container2 {
  display: grid;
  width: 350px;
  height: 700px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  margin-bottom: 100px;
  background-color: white;
}

.image-area > img {
  width: 348px;
}

.tonic > h1 {
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  font-style: normal;
  width: 295px;
  height: 10px;
}

.tonic2 h1 {
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  font-style: normal;
  width: 200px;
}

.canopy-wrapper > ul {
  display: grid;
  grid-template-columns: auto auto;
  color: #7a869a;
  gap: 20px;
}

.canopy-wrapper {
  display: flex;
  height: 40px;
}

.canopy-wrapper > p {
  width: 50px;
}

.middle-section-nav-bars {
  display: flex;
  align-items: flex-start;
  width: 30px;
}

.middle-section-nav-bars > ul {
  display: flex;
  justify-content: space-evenly;
  gap: 62px;
  list-style-type: none;
  padding-left: 14px;
  margin: 10px;
  width: 220px;
}

.project-link {
  border: 1px solid blue;
  width: 95px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
  color: #396df2;
  font-size: 16px;
}

.project-link:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

.technology li {
  border-radius: 6px;
  background-color: #ebebff;
}

.about-myself-link {
  border: none;
  background-color: white;
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  padding-left: 2px;
  cursor: pointer;
  width: 115px;
  display: flex;
}

.about-myself-link:hover {
  color: #fff;
  background-color: #7f8cff;
  border-radius: 5px;
}

.about-myself {
  display: grid;
  width: 350px;
  padding: 15px;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 100px;
  background-color: white;
  height: 1100px;
}

.about-myself h1 {
  width: 100px;
  height: 50px;
  margin-top: 50px;
  color: #172b4d;
}

.about-myself-icons > img {
  width: 14px;
  padding: 7px;
  height: 15px;
}

.resume {
  border: 1px solid #396df2;
  background-color: #fff;
  width: 111px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #396df2;
  font-size: 15px;
}

.resume:hover {
  background-color: #6070ff;
  cursor: pointer;
  color: #fff;
}

.about-myself-ul li {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #f7f7f9;
  height: 62px;
  padding-left: 8px;
}

.about-myself-ul {
  padding-left: 2px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.about-myself-ul span {
  margin-left: 15px;
}

.frameworks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frameworks img {
  margin-right: 50px;
  color: #253858;
}

.skills li {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.skills img {
  margin-right: 50px;
  color: #253858;
}

.header-text p {
  color: #344563;
}

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: none;
  font-size: 18px;
  color: #396df2;
  border-radius: 6px;
}

.language img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.language:hover {
  color: #fff;
  background-color: #6070ff;
}

.form-container {
  background: url(photo/bg/Contact\ me.png);
  display: flex;
  width: 350px;
  height: 700px;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid white;
  align-items: center;
  background-color: white;
}

.form-container .form-text h1 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.form-container .paragragh p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.contact-form .my-form-collection ul {
  list-style: none;
  width: 90%;
  margin: auto;
}

.contact-form .my-form-collection input{
  width: 100%;
  height: 48px;
  margin: 10px 0;
}
/* .paragragh {
  flex-direction: row;
  color: #e5e5e5;
  text-align: center;
  width: 325px;
  margin-bottom: 10px;
} */

/* .form-text {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
} */

/* .form-container h1 {
  text-align: center;
  color: #e5e5e5;
  margin-top: 60px;
  margin-bottom: 2px;
} */

/* .contact-form ul {
  display: flex;
  flex-direction: column;
  width: 90%;
  list-style: none;
  /* gap: 10px; */

/* .contact-form ul li {
  border-radius: 20%;
  width: 260px;
  height: 30px;
} */

/* .contact-form input{
  width: 100%;
} */

/* input[type=email] {
  width: 170px;
} */

/* .s-button {
  width: 100px;
  height: 43px;
  margin-left: 70px;
} */

/* .contact-form {
  display: flex;
  align-items: center;
  padding-right: 30px;
} */

/* .contact-button {
  display: flex;
  margin-left: 40px;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #6070ff;
} */

/* .contact-button:hover {
  color: #ebebff;
  background-color: #6070ff;
} */
