@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;400;500&display=swap');

body {
  width: 310px;
  padding: 35px;
  background-color: #e5e5e5;
  font-family: "poppins", sans-serif;
  font-style: normal;
}

.nav-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 340px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  margin-bottom: 100px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  padding-top: 50px;
}
.myself {
    display: flex;
    flex-direction: column;
    background-image: url(./photo/bg/header-shapes-mobile.png);
    padding-top: 20px;
    padding-right: 24px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  
  .myself > .greeting {
    align-items: center;
    width: 200px;
    height: 112.75px;
    color: #172b4d;
    padding-left: 23px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .logo-show {
    padding-right: 24px;
    color: blue;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
    border-radius: 8px;
    height: 12px;
  }
  
  .menu {
    padding-top: 50%;
    padding-bottom: 50%;
    margin-top: 3px;
  }
  
  .logo-show:hover {
    color: #fff;
    cursor: pointer;
    background-color: #6070ff;
  }
  
  .link {
    display: flex;
    align-items: flex-start;
    color: #396df2;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    padding-left: 1px;
    width: 112px;
    border: none;
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    margin-left: 22px;
  }
  
  .link:hover {
    background-color: #6070ff;
    color: #fff;
    cursor: pointer;
  }
  
  .bio {
    padding-left: 23px;
    padding-right: 35px;
    width: 260px;
  }
  
  .icon {
    padding-left: 23px;
    cursor: pointer;
  }
  
  .icon > img {
    width: 14px;
    padding: 7px;
    height: 15px;
  }
  
  .middle-section-container {
    display: grid;
    width: 350px;
    height: 650px;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid white;
    align-items: center;
    margin-bottom: 100px;
    background-color: white;
  }